#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
  --light-text: #dcdcdc;
}

/* Utility */
button {
  background-color: darkcyan;
  border: none;
  color: var(--light-text);
  padding: 5px;
  border-radius: 3px;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}
