#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  color: var(--light-text);
}

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
  --light-text: #dcdcdc;
}

/* Header */
.header {
  padding: 10px;
  margin-bottom: 10px;
}

.pending {
  padding: 10px;
  margin-bottom: 20px;
}

/* Task Manager */
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tasks > h2 {
  margin-bottom: 10px;
}

/* Individual Tables */
.subject {
  margin: 10px;
  width: 90%;
  max-width: 800px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid var(--light-text);
}

td,
th {
  padding: 5px;
  text-align: center;
}

/* Add Button */
.add {
  margin-top: 10px;
  background-color: darkcyan;
  border: none;
  color: var(--light-text);
  padding: 5px;
  border-radius: 3px;
}

.add:hover {
  opacity: 0.9;
  cursor: pointer;
}
