* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--dark-gray);
  color: var(--light-text);
}

html,
body {
  height: auto;
  width: 100%;
}
